{% extends 'base.html' %}

{% block content %}
<h2 class="card-title">오늘부터 당신도 패피</h2>
<div id="container" style="display: flex; justify-content: center" >
{% for coordinateImage in coordinateImages %}
    <div id="item" style="padding: 0 40px">
        <div style="display: flex; flex-direction: column">
            <img alt="coordinate" src="{{ coordinateImage.c_image.url }}" style="width:200px;">
            <div style="margin: 20px auto;">
                <a href="{{ coordinateImage.c_url }}" class="btn btn-primary btn-sm" target="_blank">상품 보러 가기</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
